<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= company.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= company.description %>
  </p>

  <p>
    <strong>Image link:</strong>
    <%= company.image_link %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= company.website %>
  </p>

  <p>
    <strong>Linkedin url:</strong>
    <%= company.linkedin_url %>
  </p>

  <p>
    <strong>Founding year:</strong>
    <%= company.founding_year %>
  </p>

</div>
